<!DOCTYPE html>
<html>
<body>
<p>Hi {{recipientName}},</p>
<p>You have been assigned a new task: <strong>{{taskTitle}}</strong>.</p>
{{#if dueDate}}<p>Due: {{dueDate}}</p>{{/if}}
<p>Log in to view the task.</p>
</body>
</html>
